<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>hello ! Welcome to <%= title %></p>
    <p>이보시오 <%= title %></p>
    <p>자보시오 <%= title %></p>
    <p>순서체크중! <%= title %></p>
  </body>
</html>
 